.CohortList{
    display: inline-block;
    border: 1px solid black;
}

.App{
    display: flex;

}

hr{
    background-color: #388c49;
    padding: 0.5px
}

.list{
    overflow: scroll;
    /* height: 500px; */
}

.CohortCard{
    border: 1px solid black;
}